<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: black;
    }
    h1{
        color:yellow;
        margin-top: 50
    }
    .blue{
        justify-content: center;
        width: fit-content;
        text-align: center;
        justify-content: center;
    width: fit-content;
    text-align: center;
    margin-left: 29%;
    margin-top: 229px;

    }
</style>
<body>
    <h1 class="blue">Thank You For Contacting Me</h1>
</body>
</html>