<section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        
                    </div>

                    <div>
                        <h2 class="about__subtitle">I'am Atal Amitabh</h2>
                        <span class="about__profession">Developer</span>
                        <p class="about__text">Hi ,there I am Computer Science Engineer graduating in 2021 from SRM Institue of Science and Technology.
                            I am from India.I like to play footaball and love listening music and I am open to opportunities 
                        </p>

                        
                    </div>
                </div>
            </section>