<section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="/contact" class="contact__form" method="POST">
                        <div class="contact__inputs">
                            <input type="text" placeholder="Name" name="name" class="contact__input">
                            <input type="mail" placeholder="Email" name="email"class="contact__input">
                        </div>

                        <textarea  cols="0" rows="10" name="message" class="contact__input"></textarea>

                        <button type="submit" class="contact__button">Submit</button>
                    </form>
                </div>
            </section>
        </main>