<section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title">I am <br>
                    Learner,<br>
                    Web Developer<br>and Problem Solver </h1>

                    

                    
                </div>
            </section>